mixin menu(data)
  .menu(class=data ? 'menu_' + data : '')
    each item in menu[data] ? menu[data] : menu.default
      if data == 'part'
        .menu__item
          if item.part
            h2.link.text.text_lead #{item.part}
          if item.desc
            ul.list
              each itemDesc in item.desc
                li.list__item #{itemDesc}
      else
        a.menu__item(title=item.title ? item.title : null) #{item.item}